body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

footer{
  flex: 0 30px;
  border-top: solid thin gainsboro;
}

main {
  margin: 0;
  padding-top:1.5em;
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1em;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

nav{
  border-bottom: solid thin gainsboro;
}

.navbar-brand{
  padding-left: 0.3em;
}

menu .nav-item{
  padding: 0 0.3em;
}

footer a {
  float: right;
}

#featured-game{
  margin-top: 2em;
}

#featured-header{
  padding: 0.4em;
  align-items: center;
  border-bottom: solid thin gainsboro;
}

#game-title{
  border-bottom: solid thin gainsboro;
  padding: 0.3em;
}

#picture {
  display: flex;
}

#picture img{
  object-fit: cover;
}

#game-facts{
  align-items: justify;
}

@media (max-height: 600px) {
  header{
    display: none;
  }
  footer{
    display: none
  }
  main {
    flex: 1 100vh;
  }
}